<%- include('../partials/header')%>


<form action="/todos" method="post">
    <input type="text" placeholder="To-Do" name="todo">
    <button type="submit" >Add To-Do</button>
</form>

<%- include('../partials/footer')%>